* {
  padding: 2px;
  margin: 10px;
  text-align: center;
}

body {
  background-color:#454545;
  display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.calculator {
  width: 350px;
  height: 320px;
  background-color: #839192;
  box-shadow: 0px 0px 0px 10px #C0C0C0;
  border: 6px solid black;
  border-radius: 10px;
}

#display {
  width: 320px;
  height: 40px;
  text-align: right;
  background-color: black;
  border: 3px solid white;
  font-size: 18px;
  left: 2px;
  top: 2px;
  color: #7fff00;
}
.btnTop{
  color: white;
  background-color: #6f6f6f;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}
.btnNum {
  color: white;
  background-color: black;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}
.btnMath {
  color: white;
  background-color: #85109A;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}
.btnOpps {
  color: white;
  background-color: #ff9933;
  font-size: 14px;
  margin: auto;
  width: 50px;
  height: 25px;
}